* {
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: hsl(283, 30%, 91%);
    background: #050505;
    font-family: sans-serif;
    color: #ddd;
}


.text-yellow {
    color: rgb(255, 217, 0);
}

nav {
    padding: 0 calc(10px + 5vw);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding-top: 1rem;
}


nav .nav-items {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

nav .nav-items li {
    list-style-type: none;
}

nav .nav-items li a.active {
    color: rgb(255, 217, 0);
    text-decoration: none;
    cursor: default;
}

nav .nav-items li a.active:hover {
    color: rgb(255, 217, 0);
    text-decoration: none;
}

nav .nav-items li a {
    text-decoration: none;
    color: #eee;
    font-size: 1.1rem;
    /* font-weight: 500; */
}

nav .nav-items li a:hover {
    text-decoration: underline;
    color: #fff;
}



.landing {
    min-height: calc(86vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
    padding: 0 calc(10px + 2vw);
    position: relative;

}

.landing::after {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% + 100px);
    top: -100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    opacity: .04;
}

.landing.home::after {
    background-image: url('bg.jpg');

}

.landing.education::after {
    opacity: .1;
    background-image: url('education.jpeg');

}

.landing.skills::after {
    opacity: .1;
    background-image: url('skills.jpeg');
}

.landing.contact{
    min-height: 500px;
}

.landing.skills.section {
    background: transparent;
    gap: 2rem;
    padding-top: 4rem;
}


.landing .texts {
    font-size: 30px;
    max-width: 750px;
    text-align: center;
    ;
}

.landing .texts .title {
    columns: #fff;
    margin-bottom: 1rem
}

.landing .texts .subtitle {
    color: #ddd;
    font-weight: 500;
    opacity: .8;
}

.landing .icons {
    display: flex;
    gap: 3rem;
    font-size: 2rem;
}


.landing .icons a {
    color: #888;
    display: block;
    transition: .3s;

}

.landing .icons a:hover {
    color: #ccc;
    transform: translateY(-5px) scale(1.1);

}


.section {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: #151515;
    min-height: 85vh;
    padding: 3rem;
    gap: 6rem;
    padding-bottom: 8rem;

}


.section .titles {
    text-align: center;
}

.section .title {
    color: #444;
    font-size: 1.3rem;
}

.section .subtitle {
    color: #ddd;
    font-size: 2.5rem;
    margin-top: 5px;
}

.services .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}

.services .cards-container .card {
    width: 330px;
    border: 1px solid rgb(255, 217, 0);
    padding: 4rem 2.5rem 4rem 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: relative;
    background: #222;
    border-radius: 10px;
}

.services .cards-container .card:nth-child(1) {
    background: rgb(213, 182, 7);
}




.services .cards-container .card .count {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 3rem;
    font-weight: bold;
    color: #303030;
    padding: 1.5rem;
}

.services .cards-container .card:nth-child(1) .count {
    opacity: .2;

}

.services .cards-container .card .icon {
    font-size: 2rem;
    color: #999;
}

.services .cards-container .card:nth-child(1) .icon {
    color: #555;
}

.services .cards-container .card .title {
    color: #ccc;
    position: relative;
    padding-bottom: 1.2rem;
}

.services .cards-container .card:nth-child(1) .title {
    color: #333;
}

.services .cards-container .card .title::before {
    content: "";
    position: absolute;
    height: 1.5px;
    width: 40%;
    background: #ccc;
    bottom: 0;
    left: 0;
}

.services .cards-container .card:nth-child(1) .title::before {
    background: #333;
}


.services .cards-container .card .description {
    line-height: 25px;
    word-spacing: 2px;
    color: #aaa;
}

.services .cards-container .card:nth-child(1) .description {
    color: #444;
}



.timeline {
    position: relative;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    color: #333;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 100%;
    background-color: #333;
    transform: translateX(-50%);
}

.timeline::after {
    content: '\2191';
    position: absolute;
    font-size: 3rem;
    top: -3rem;
    left: 50%;
    transform: translateX(-50%);
}

.event {
    position: relative;
    margin-bottom: 5rem;
    display: flex;
    gap: 10rem;
    align-items: center;
}

.event::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
}

.event::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 5rem;
    height: 1px;
    border-bottom: 2px dotted #ddd;
}



.event-content {
    margin: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 2px;
    flex-shrink: 0;
}

.timeline .event:nth-child(2n) {
    flex-direction: row-reverse;
}

.timeline .event:nth-child(2n) .event-year {
    text-align: right;
}

.event-content h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    color: #111;
}

.event-content p {
    font-size: 1rem;
    margin: 0;
    color: #444;
}

.event-year {
    color: rgb(255, 217, 0);
    width: 400px;
    flex-shrink: 0;

}


.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.image-container {
    /* flex: 1; */
    max-width: calc(33.33% - 20px);
    /* Adjust this for the number of images per row */
    position: relative;
    margin-bottom: 2rem;

}

.gallery img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.2s;
    cursor: pointer;
}

.image-description {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    padding: 5px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.2s;
    padding: 10px;
}

.image-container:hover .image-description {
    opacity: 1;
}



.collage .main-image{
    max-width: 640px;
}
.collage .main-image .description{
    font-size: 1.2rem;
    line-height: 140%;
    color: #aaa;
    padding: 1rem;
    text-align: center;
}




.contact-form {
    background-color: #111;
    padding: 5rem 0;
    border-radius: 5px;
}

.contact-form h2 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    
}

.contact-form form{
    margin: 0 auto;
    max-width: 500px;

}


.contact-form .form-group {
    margin: 20px auto;

}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

input[type="text"],
input[type="email"],
textarea {

    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #555;
    color: #fff;
}

button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}





.footer {
    background-color: #252525;
    color: #fff;
    padding: 40px 0;
    width: 100vw;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-info,
.footer-links,
.social-icons {
    flex: 1;
    margin: 0 20px;
    text-align: center;
}

.footer-info h4,
.footer-links h4,
.social-icons h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.about-me-text {
    font-size: 14px;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}

.social-icons ul {
    list-style: none;
    padding: 0;
}

.social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.social-icons a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #555;
}

.footer-bottom p {
    margin: 0;
}





.skills h1 {
    font-size: 28px;
    color: #fff;
}

.skills h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #ccc;
}

.skills ul {
    list-style: disc;
    margin-left: 20px;
}

.skills li {
    font-size: 16px;
    margin-bottom: 5px;
    color: #aaa;
}

/* Video container */
.video-.skills container {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 aspect ratio */
    overflow: hidden;
}

.skills iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}